* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav2 {
  position: absolute;
  top: 0;
  padding: 20px 40px;
  left: 0;
}

.nav1 {
  display: none;
}

.show {
  display: flex;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  transition: opacity 0.3s ease-in-out;
}

.sitename {
  font-size: 30px;
  font-weight: 600;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body1 {
  background-image: url("img2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bd1 {
  padding: 20px 0;
}

.bd1 h3, .bd1 h2 {
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.bd1 .h2 {
  font-weight: 900;
  font-family:'Courier New', Courier, monospace;
}
.social-icon {
  text-align: center;
  margin-bottom: 30px;
}

.social-icon span {
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.89);
}

.contact-btn {
  text-align: center;
  padding-bottom: 80px;
}

.contact-btn button {
 color: white;
  padding: 15px 40px;
  background: black;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 50px;
}

.contact-btn button:hover {
  background: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 600;
  padding: 13px 38px;
}

.body2 {
  padding: 80px 0;
}

.image {
  display: flex;
  align-items: center;
  justify-content: end;
}
.img-container {
  box-shadow: 0px 0px 15px rgba(65, 65, 65, 0.08);
  max-width: 500px;
  padding: 0 60px;
  height: 399px;
  background-color: rgba(241, 241, 241, 0.089);
}

.img-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.imgabt-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.abt {
  padding: 10px 0;
  width: max-content;
  border-bottom: 1px solid rgba(209, 209, 209, 0.637);
  margin-bottom: 20px;
}

.abt h1, .edu h1, .skill h1 {
  font-weight: 800;
  letter-spacing: 1px;
}

.abt h4 {
  letter-spacing: 1px;
  font-weight: 700;
  color: rgb(102, 102, 102);
}

.name-grid {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-bottom: 10px;
}

.name-icon span{
  text-align: center;
  color: rgb(58, 58, 58);
  background-color: rgba(146, 146, 146, 0.253);
  padding: 5px 7px;
  border-radius: 100%;
}

.name-details h4 {
  margin-bottom: 5px;
}

.name-details p, .edu p, .skill p {
  color: rgb(107, 107, 107);
}

.skilledu-grid {
  padding: 20px 40px;
  margin: 40px 0 20px;
  background-color: rgba(231, 231, 231, 0.349);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

 .edu, .skill {
  background-color: white;
  padding: 20px;
  box-shadow: 0.5em 0.5em 1em rgba(1, 2, 68, 0.08);
 }

 .edu h1, .skill h1 {
  width: max-content;
  border-bottom: 2px solid rgba(209, 209, 209, 0.637);
  margin-bottom: 10px;
 }

 .secter {
  margin-bottom: 10px;
 }

 .secter h4 {
  margin-bottom: 5px;
 }

 .secter, .skill-info {
  margin-left: 5px;
 }
 .ref {
  margin: 10px 40px;
 }
 .ref h1 {
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 20px;
  width: max-content;
  border-bottom: 2px solid rgba(209, 209, 209, 0.637);
 }

 .ref-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
 }

 .refimg {
  width: 200px;
 }

 .refimg img {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
 }

 .footer {
  padding: 20px 40px;
  background-color: rgba(156, 156, 156, 0.747);
 }

 .footer span {
  font-weight: 500;
 }

 @media screen and (max-width: 600px) {
  .imgabt-grid {
    grid-template-columns: 1fr;
  }

  .image {
    justify-content: center;
    margin-bottom: 10px;
  }
  .bk {
    margin-left: 20px;
  }

  .nav2, .show {
    padding: 10px 20px;
  }
  .skilledu-grid {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .body1-details {
    margin: 0 10px;
  }
  .ref-grid {
    grid-template-columns: 1fr 1fr;
  }
  .refimg {
    width: 100px;
    margin-bottom: 10px;
  }
  .skilledu-grid {
    padding: 20px;
  }
  .ref {
    margin: 10px 20px;
  }
  .sitename {
    font-size: 24px;
  }
 }
